<header><img src='./images/logo.jpg'/></header>
<nav id="nav">
    <span id="title">Conférence</span>
    <ul>
        <li><a href="#sessions-list">Sessions</a></li>
        <li><a href="#speakers-list">Présentateurs</a></li>
        <li><a href="">A propos du téléphone</a></li>
    </ul>
</nav>
<section id="main-view">
    <h1>Conférence</h1>
    <span>Date Début - Date Fin</span><br>
    <a href="#sessions-list">Voir les sessions</a><br>
    <a href="#speakers-list">Voir les présentateurs</a><br>
</section>
<footer>copyright</footer>